[user]
	email = glyn@underlap.org
	name = Glyn Normington
[alias]
	st = status
[core]
	editor = code --wait
	excludesfile = /home/glyn/.gitignore_global
[pull]
	rebase = false
[init]
	defaultBranch = main
